body {
    background: linear-gradient(to bottom, #e9d5ff, #b565d9);
    font-family: 'SF Pro Display', sans-serif;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    padding: 20px;
  }

.container {
    text-align: center;
}

.header_text {
    font-size: 3em;
    color: #b565d9;
}

.gif_container img {
    width: 100%; 
    max-width: 500px; 
    height: auto; 
}