body {
    font-family: 'SF Pro Display', sans-serif;
    text-align: center;
    color: #7111acd0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    padding: 20px;
  }

.container {
    text-align: center;
}

/* Heading */
h1 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #f4dade; /* Light pink */
    text-shadow: 0 0 15px rgba(202, 42, 122, 0.9);
    animation: fadeIn 1s ease-in-out;
  }
  

.gif_container img {
    width: 100%; 
    max-width: 500px; 
    height: auto; 
}